.hero {
  background-color: #ffcfdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 100px 7%;
  gap: 230px;
  height: 53em;
}

.hero h2 {
  font-size: 5em;
  font-weight: 400;
  line-height: 1;
}

.hero h1 {
  font-size: 5em;
  font-weight: 900;
  line-height: 1;
}

.greetings {
  text-align: left;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-top: 4em;
}

.links button {
  border-radius: 30px;
  border: none;
  padding: 0.6em 1.5em;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  font-family: inherit;
  background-color: #151345;
  cursor: pointer;
  filter: drop-shadow(0px 4px 10px 2px rgba(0, 0, 0, 0.12));
  transition: background-color 0.25s;
}
button:hover {
  background-color: #d1e9ff;
  color: #151345;
}

.links img {
  width: 61px;
  height: auto;
}

.profile {
  width: 33em;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .profile {
    display: none;
  }
}
